body{
    background-color: #6EDB71;
}

.titulo{
    text-align: center;
}

.text1{
    text-align: center;
    font-size: large;
}

h2{
    text-align: center;
}

.ceu{
    width: 40%;
}